<h3>Add a Show</h3>

<form ng-submit="addShow(show)" class="large-8 small-centered columns">
  <input type="text" placeholder="Headliner" ng-model="show.headliner">
  <input type="text" placeholder="Supporting Acts" ng-model="show.support">
  <input type="text" placeholder="Flyer URL" ng-model="show.flyer">
  <input type="text" placeholder="Venue" ng-model="show.venue">
  <input type="text" placeholder="Comments / Description" ng-model="show.descrip">
  <input type="text" placeholder="Show Date" ng-model="show.date">
  <input type="text" placeholder="Starting Time" ng-model="show.time">
  <button>Post Show</button>
</form>