<div class="large-6 small-centered columns">
  <div>
    <h1>{{ show.headliner }}</h1>
    <span>with</span>
    <h2>{{ show.support }}</h2>
    <img src="{{ show.flyer }}" class="singleflyer"> 
    <h3>{{ show.date }} //// {{ show.time }} at {{ show.venue }}</h3>
    <p>{{ show.descrip }}</p>
  </div>
  <a href="#/edit/{{ show.objectId }}">
    <button>Edit</button>
  </a>
  <button ng-click="deleteMe(show)">Delete</button>
  <a href="https://www.freshtix.com/search?utf8=%E2%9C%93&query=drunken+unicorn&start=&end=&place=&state=&category=&commit=Search">
    <button>Buy Tickets</button>  
  </a>
</div>